body{
  background-color: #D3FFEB;
  background-image: url(images/citybike_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.main{
  background-color: white;
  padding: 20px;
  max-width: 900px;
  content:"";
  display: table;
  clear: both;
  box-shadow: 1px 1px 10px #888888;
}
.content{
  margin: 10px auto;
}
header{
  height: auto;
  max-width:900px;
  background: rgba(211, 255, 235, 0.7);
  margin-bottom: 10px;
}
.searchbar{
  width:150px;
  height: 30px;
  margin: 20px;
}
h1,h2{
  font-family: 'Megrim', sans-serif;
}
h2{
  text-align: center;
}
footer{
  max-width:900px;
  margin: 10px auto;
  background: rgba(211, 255, 235, 1.0);
}
.center{
  text-align: center;
}

/*                 NAVIGATION                  */
ul{
  margin: 0 auto;
  padding: 0;
}
nav{
  max-width: 900px;
  font-family: 'Megrim', sans-serif;
  font-size: 20px;
  background: rgba(211, 255, 235, 0.7);
}
nav li{
  display: inline;
  width:inherit;
}
nav li a{
  text-align: center;
  width: inherit;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
nav li a:hover{
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: black;
}
.current{
  background-color: white;
}
.current:hover{
  background-color: white;
}
.separate{
  border-right: 1px solid white;
}

/*                              FORM                              */
fieldset{
  display: table;
  width: 50%;
  margin: 20px auto;
}
form{
  display: table-row;
  margin: 0 auto;
}
label{
  display: table-cell;
  float: left;
  clear: both;
}
.name-field{
  display: table-cell;
  width: 75%;
  float: right;
  margin-bottom: 5px;
}
textarea{
    height: 100px;
    width: 100%;
}
input[type=submit]{
  float: right;
}


/*                  IMAGES                */
.welcome-img{
  width: 100%;
  height: 350px;
  margin: 20px auto;
  object-fit: cover;
  object-position: 25% 75%;
  box-shadow: 1px 1px 5px #888888;

}
.preview{
  width: 100%;
  height: 150px;
  object-fit: cover;
  box-shadow: 1px 1px 5px #888888;
}
.image{
  margin: 20px auto;
  position: relative;
  width: 100%;
  opacity: 0.8;
  content:"";
  display: table;
  clear: both;
}
.image:hover{
  opacity: 1.0;
}
.img-txt{
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: black;
  font-family: 'Megrim', sans-serif;
  font-size: 20px;
  background-color: rgba(211, 255, 235, 0.7);
  padding: 3px;
}
.profile-img{
  display: table-cell;
  max-width: 75px;
  margin: 20px;
}
.profile{
  display: table;
}



@media (max-width: 575px) {
  nav{
    width:100%;
  }
  footer{
    height: 75px;
    position: relative;
    bottom: 0;
  }
   nav li{
      display: inline;
      background-color: rgba(211, 255, 235, 1.0);
      width: inherit;
      border-bottom: 1px solid white;
      border-right: 0px !important;
  }
  .submit{
    width: 100%;
    margin: 10px  auto;
  }

  fieldset{
    width: 100%;
    display: table;
  }
  label{
    display: table-cell;
    float: left;
  }
  input[type=text]{
    display: table-cell;
    float: right;
    width: 100%;
    margin: 10px auto;
  }
  input[type=submit]{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
  .preview{
    width: 100%;
    height: 100px;
    object-fit: cover;
    box-shadow: 1px 1px 5px #888888;
  }
  .image{
    margin: 5px auto;
    position: relative;
    width: 100%;
    opacity: 1.0;
    content:"";
    display: table;
    clear: both;
  }
  .profile-txt{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }
  .profile-img{
    display: table-cell;
    vertical-align: middle;
    width: 75px;
    margin: 20px;
  }
}
